## Instalando bibliotecas

In [1]:
!pip install pandas
!pip install pymongo
!pip install boto3

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.4.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.4.1)
Requirement already satisfied: boto3 in /opt/conda/lib/python3.10/site-packages (1.28.20)
Requirement already satisfied: botocore<1.32.0,>=1.31.20 in /opt/conda/lib/python3.10/site-packages (from boto3) (1.31.20)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /opt/conda/lib/python3.10/site-packages (from boto3) (1.0.1)
Requirement already satisfied: s3transfer<0.7.0,>=0.6.0 in /opt/conda/lib/python3.10/site-packages (from boto3) (0.6.1)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /opt/conda/lib/python3.10/site-packages (from botocore<1.32.0,>=1.31.20->boto3) (1.26.14)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /opt/conda/lib/python3.10/site-packages (from botocore<1.32.0,>=1.31.20->boto3) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.32.0,>=1.31.20->boto3) (1.16.0)

## Importando bibliotecas

In [2]:
import numpy as np
import pandas as pd
from io import BytesIO
from pymongo import MongoClient
import boto3
from io import StringIO

## MINIO

In [3]:
client = boto3.client('s3', 
    endpoint_url='http://awari-minio-nginx:9000',
    aws_access_key_id='IHTSThvVQZYLnYJK',
    aws_secret_access_key='YlC0CPdqGIQZTUDtFG0ah7cdQbIoHRnv',
    aws_session_token=None,
    config=boto3.session.Config(signature_version='s3v4'),
    verify=False,
    region_name='sa-east-1'
)

In [10]:
# Salvando data set organizando por pastas no Minio

estados = pd.read_csv('arquivos/estados.csv')

estados

    codigo_uf  uf                 nome  latitude  longitude        regiao
0          11  RO             Rondônia    -10.83     -63.34         Norte
1          12  AC                 Acre     -8.77     -70.55         Norte
2          13  AM             Amazonas     -3.47     -65.10         Norte
3          14  RR              Roraima      1.99     -61.33         Norte
4          15  PA                 Pará     -3.79     -52.48         Norte
5          16  AP                Amapá      1.41     -51.77         Norte
6          17  TO            Tocantins     -9.46     -48.26         Norte
7          21  MA             Maranhão     -5.42     -45.44      Nordeste
8          22  PI                Piauí     -6.60     -42.28      Nordeste
9          23  CE                Ceará     -5.20     -39.53      Nordeste
10         24  RN  Rio Grande do Norte     -5.81     -36.59      Nordeste
11         25  PB              Paraíba     -7.28     -36.72      Nordeste
12         26  PE           Pernambuco     -8.38     -37.86      Nordeste
13         27  AL              Alagoas     -9.62     -36.82      Nordeste
14         28  SE              Sergipe    -10.57     -37.45      Nordeste
15         29  BA                Bahia    -13.29     -41.71      Nordeste
16         31  MG         Minas Gerais    -18.10     -44.38       Sudeste
17         32  ES       Espírito Santo    -19.19     -40.34       Sudeste
18         33  RJ       Rio de Janeiro    -22.25     -42.66       Sudeste
19         35  SP            São Paulo    -22.19     -48.79       Sudeste
20         41  PR               Paraná    -24.89     -51.55           Sul
21         42  SC       Santa Catarina    -27.45     -50.95           Sul
22         43  RS    Rio Grande do Sul    -30.17     -53.50           Sul
23         50  MS   Mato Grosso do Sul    -20.51     -54.54  Centro-Oeste
24         51  MT          Mato Grosso    -12.64     -55.42  Centro-Oeste
25         52  GO                Goiás    -15.98     -49.86  Centro-Oeste
26         53  DF     Distrito Federal    -15.83     -47.86  Centro-Oeste

In [11]:
# Salvando data set organizando por pastas no Minio

municipios = pd.read_csv('arquivos/municipios.csv')

municipios

,codigo_ibge,nome,latitude,longitude,capital,codigo_uf,siafi_id,ddd,fuso_horario
0,5200050,Abadia de Goiás,-16.75730,-49.4412,0,52,1050,62,America/Sao_Paulo
1,3100104,Abadia dos Dourados,-18.48310,-47.3916,0,31,4001,34,America/Sao_Paulo
2,5200100,Abadiânia,-16.19700,-48.7057,0,52,9201,62,America/Sao_Paulo
3,3100203,Abaeté,-19.15510,-45.4444,0,31,4003,37,America/Sao_Paulo
4,1500107,Abaetetuba,-1.72183,-48.8788,0,15,401,91,America/Sao_Paulo
...,...,...,...,...,...,...,...,...,...
5565,2933604,Xique-Xique,-10.82300,-42.7245,0,29,3971,74,America/Sao_Paulo
5566,2517407,Zabelê,-8.07901,-37.1057,0,25,542,83,America/Sao_Paulo
5567,3557154,Zacarias,-21.05060,-50.0552,0,35,2973,18,America/Sao_Paulo
5568,2114007,Zé Doca,-3.27014,-45.6553,0,21,1287,98,America/Sao_Paulo
5569,4219853,Zortéa,-27.45210,-51.5520,0,42,950,49,America/Sao_Paulo

In [12]:
cidades = pd.merge(municipios,estados[['codigo_uf','uf']] , on='codigo_uf', how='left')
cidades

,codigo_ibge,nome,latitude,longitude,capital,codigo_uf,siafi_id,ddd,fuso_horario,uf
0,5200050,Abadia de Goiás,-16.75730,-49.4412,0,52,1050,62,America/Sao_Paulo,GO
1,3100104,Abadia dos Dourados,-18.48310,-47.3916,0,31,4001,34,America/Sao_Paulo,MG
2,5200100,Abadiânia,-16.19700,-48.7057,0,52,9201,62,America/Sao_Paulo,GO
3,3100203,Abaeté,-19.15510,-45.4444,0,31,4003,37,America/Sao_Paulo,MG
4,1500107,Abaetetuba,-1.72183,-48.8788,0,15,401,91,America/Sao_Paulo,PA
...,...,...,...,...,...,...,...,...,...,...
5565,2933604,Xique-Xique,-10.82300,-42.7245,0,29,3971,74,America/Sao_Paulo,BA
5566,2517407,Zabelê,-8.07901,-37.1057,0,25,542,83,America/Sao_Paulo,PB
5567,3557154,Zacarias,-21.05060,-50.0552,0,35,2973,18,America/Sao_Paulo,SP
5568,2114007,Zé Doca,-3.27014,-45.6553,0,21,1287,98,America/Sao_Paulo,MA
5569,4219853,Zortéa,-27.45210,-51.5520,0,42,950,49,America/Sao_Paulo,SC

In [13]:
cidades = cidades.fillna("-") # Nós precisamos atrelar o resultado a variavel principal
ufs = cidades['uf'].drop_duplicates()
ufs

0      GO
1      MG
4      PA
5      CE
6      BA
8      PR
9      SC
13     PE
14     TO
16     MA
21     RN
22     PI
23     RS
25     MT
26     AC
30     SP
37     ES
49     PB
50     AL
51     MS
131    RO
141    RR
170    AM
186    AP
207    SE
242    RJ
755    DF
Name: uf, dtype: object

In [ ]:
for row in ufs:
    df_by_ufs = df.query("uf == '" + row + "'")
    
    if row == "-":
        folder_name = 'empty'
    else:
        folder_name = row
        
    csv_buffer = StringIO()    
    csv = df_by_gender.to_csv(csv_buffer)
    client.put_object(Body=csv_buffer.getvalue(), Bucket='aula-06', Key=f'datalake/gender/{folder_name}/{folder_name}.csv')